<div style="text-align:center">
  <h1>Welcome to appy-mc-app-face!</h1>
  <img
    width="450"
    src="https://raw.githubusercontent.com/nrwl/nx/master/nx-logo.png"
  />
</div>
<div>Message: {{ hello$ | async | json }}</div>
